@media only screen and (max-width: 800px) {
    #wrapper{
        flex-direction: column;
    }

    .icon{
        width:30%;
    }

    #stats-panel{
        flex-direction:row;
    }

    #stats-panel > div {
        flex: 1
    }

    canvas{
        width: 100%;
        margin-top: 10%;
    }

    body{
        font-size: 3em;
    }

    #mobile-controls{
        margin-top: 10%;
        display:flex;
        justify-content: space-around;
        flex-direction: column;
    }

    #btn-up, #btn-down{
        margin: auto;
    }
    
    .button{
        background-image: url("/assets/img/button.png");
        background-position: center;
        background-size: cover;
        width: 10vw;
        height: 10vw;
    }

    .button:active:hover{
        background-image: url("/assets/img/button-pressed.png");
    }

    #second-row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #end-popup{
        background-size: contain;
        background-repeat: no-repeat;
    }


  }